spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:delivery-db;
    username: sa
    password:
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        default_schema:
    hibernate:
      ddl-auto: create
    open-in-view: false
    generate-ddl: true